Source: stx-migration-rook-ceph-helm
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm,
 migration-rook-ceph-helm,
 python3-k8sapp-migration-rook-ceph-wheels,
Standards-Version: 4.1.2
Homepage: https://www.starlingx.io

Package: stx-migration-rook-ceph-helm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: StarlingX K8S application: Rook Ceph
 The StarlingX K8S application for Rook Ceph
